name: Build

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          # https://github.com/gradle/actions/blob/main/docs/setup-gradle.md#using-the-cache-read-only
          cache-read-only: ${{ github.ref != 'refs/heads/master' && github.ref != 'refs/heads/develop' && github.ref_type != 'tag' }}

      - name: Build
        run: ./gradlew build -x test

      - name: Run Tests
        run: ./gradlew test

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Custom Join Messages
          path: build/libs
